<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#Aprende-con-Innovacion">Aprende con Innovacion</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#Conceptos">Conceptos Claves</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#Juego">Juego
                        Interactivo</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#Galeria">Galeria
                        de Video</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#Trivia">Juego
                        Trivia</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#Encuesta">Encuesta
                        rapida</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/images/PigProfile.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Aprende con Innovacion</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h4 style="font-weight: 300;">Te ofrecemos un curso de finanzas personales para que puedas tener educación y
            libertad
            financiera. Vas a explorar una serie de contenidos,metodologías y niveles que te iran
            guiando y enseñando a obtener la clave de la libertad económica de una forma creativa e
            innovadora.</h4><br>
        <h4 class="masthead-subheading font-weight-light mb-0" style="font-style: italic; font-weight: 100;">"El hábito
            de ahorrar es en sí mismo una educación;
            fomenta todas las virtudes, enseña la
            abnegación, cultiva el sentido del orden, entrena la previsión y así ensancha la mente."</h4>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="Conceptos">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Conceptos Claves</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h4 class="text-center py-4" style="font-weight: 300;">¡Conocer estos términos económicos y el funcionamiento de
            la
            economía lo puede ayudar a
            tomar mejores decisiones de inversión!</h4>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div title="LIBERTAD FINANCIERA" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Libertad.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div title="INFLACIÓN" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Inflacion.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div title="DESINFLACIÓN" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Desinflacion.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div title="ESTANFLACIÓN" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Estanflación.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div title="TASA DE INTERÉS" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Tasa.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div title="TASA DE INTERVENCIÓN DE LA POLÍTICA MONETARIA" class="portfolio-item mx-auto"
                    data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/TasaMonetaria.webp" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="Juego">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Juego Interactivo</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <h4 class="text-justify text-center py-4" style="font-weight: 300;">Jumanji de Genially es un juego interactivo
            basado en la película y el
            libro del mismo nombre. Los jugadores se sumergen en una aventura en la jungla, donde deben resolver enigmas
            y superar obstáculos para avanzar en el juego. El tablero de juego está diseñado con gráficos impresionantes
            y animaciones que crean una experiencia visualmente atractiva. Los jugadores también tienen la opción de
            personalizar su personaje y seleccionar su nivel de dificultad. En general, Jumanji de Genially es un juego
            emocionante y divertido que ofrece una experiencia única e interactiva para los jugadores.
            <br><br> ¡Te invito a Jugar y aprender interactivamente con este
            juego!
        </h4>
        <div class="row text-center py-4">
            <div class="col-md-6">
                <h4 style="font-weight: 300;"><i class="fa-solid fa-dice fa-beat-fade"></i>&nbsp;Lanza los Dados</h4>
                <h4 style="font-weight: 300;"><i class="fa-solid fa-book fa-beat-fade"></i>&nbsp;Lea la Instrucciones
                </h4>
            </div>
            <div class="col-md-6">
                <h4 style="font-weight: 300;"><i class="fa-solid fa-medal fa-beat-fade"></i>&nbsp;Rompe tu Record</h4>
                <h4 style="font-weight: 300;"><i class="fa-solid fa-user-group fa-beat-fade"></i>&nbsp;Invita tus Amigos
                </h4>
            </div>
        </div>
        <br>
        <div class="content">
            <h2><i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;¡Click!&nbsp;<i
                    class="fa-solid fa-arrow-down fa-bounce"></i></h2>
            <h2><i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;¡Click!&nbsp;<i
                    class="fa-solid fa-arrow-down fa-bounce"></i></h2>
        </div>
        <!-- About Section Button-->
        <a href="https://view.genial.ly/640bbff389fdcd00180246cf/interactive-content-genially-sin-titulo"
            target="_blank">
            <div class="text-center">
                <img class="img-fluid img" src="./assets/images/JuegoInteractivo.png" alt="">
            </div>
        </a>
    </div>

</section>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="Galeria">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Galeria de Video</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h4 class="text-justify text-center" style="font-weight: 300;">Integer eu ante ornare amet commetus vestibulum
            blandit integer in curae ac
            faucibus integer non.
            Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</h4>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center text-center py-4">
            <div class="features">
                <article>
                    <div class="image"><iframe width="560" height="315" src="https://www.youtube.com/embed/QJJYpsA5tv8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe></div>
                    <div class="inner">
                        <h4>Possibly broke spacetime</h4>
                        <p class="lead">Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac
                            faucibus
                            integer adipiscing ornare amet.</p>
                    </div>
                </article>
                <article>
                    <div class="image"><iframe width="560" height="315" src="https://www.youtube.com/embed/-k9qDxyxS3s"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe></div>
                    <div class="inner">
                        <h4>Terraformed a small moon</h4>
                        <p class="lead">Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac
                            faucibus
                            integer adipiscing ornare amet.</p>
                    </div>
                </article>
                <article>
                    <div class="image"><iframe width="560" height="315" src="https://www.youtube.com/embed/lir3dzYIhz0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe></div>
                    <div class="inner">
                        <h4>Snapped dark matter in the wild</h4>
                        <p class="lead">Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac
                            faucibus
                            integer adipiscing ornare amet.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="Trivia">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Juego Trivia</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h4 class="justify-content-center text-center" style="font-weight: 300;">El juego es una serie de preguntas que
            se plantean en el marco de
            un concurso o de un juego,
            cuyas respuestas deben ser escogidas entre diferentes opciones y lograr responder correctamente
            la mayoria.</h4>
        <app-trivia></app-trivia>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="Encuesta">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Encuesta Rapida</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div class="container text-center">
                    <h4 style="font-weight: 300;">Somos una empresa emergente que quiere obtener información sobre ...?
                        . La encuesta solo te
                        tomará cinco minutos y solo puedes responderla una vez. <br><br> ¡Tus comentarios son valiosos
                        para nosotros!</h4>
                    <a class="btn btn-xl btn-outline-dark mt-4" href="/"><i
                            class="fa-solid fa-arrow-right fa-beat me-2"></i>Responder Encuesta!</a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Visitas a la web</h4>
                <h4><i class="fa-solid fa-face-smile fa-bounce"></i>&nbsp;¡{{visits}} Usuarios!&nbsp;<i
                        class="fa-solid fa-face-smile fa-bounce"></i></h4>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">ALREDEDOR DE LA WEB</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fa-brands fa-facebook-f fa-beat"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fa-brands fa-twitter fa-beat"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fa-brands fa-linkedin fa-beat"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fa-brands fa-youtube fa-beat"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Sobre el desarrollador</h4>
                <p class="lead mb-0">
                    Creador, diseñador, administrador y gestor de contenidos
                    <a href="https://www.linkedin.com/in/nicolaserazo/" target="_blank">¡Nicolas Erazo!</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Aprende con Innovacion - 2023</small></div>
</div>
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Libertad Financiera
                            </h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Libertad.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>¿Que es la Libertad Financiera?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Contar con los ingresos suficientes para solventar
                                    todas las necesidades económicas
                                    sin tener
                                    que ser esclavo del trabajo. Se deben establecer preferencias, mitigar y controlar
                                    los
                                    gastos y trazar una línea de acción estratégica para generar ingresos adicionales el
                                    conjunto de todas las acciones que favorecerán la salud financiera.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Cómo alcanzar la libertad financiera en 7
                                        gestiones?</h4>
                                </summary>
                                <h5 style="text-align: justify;">
                                    Alcanzar la libertad financiera es posible.<br>
                                    <br>
                                    Siete pasos hacia la libertad financiera:<br>
                                    <br>

                                    1. Gestionar los ingresos vs ganancias. <i style="color: aqua;"
                                        class="fa-solid fa-lightbulb"></i><br>
                                    2. Manejar adecuadamente los gastos. <i style="color: blue;"
                                        class="fa-solid fa-lightbulb"></i><br>
                                    3. Crear una plan de emergencia donde se ahorre dinero. <i
                                        style="color: blueviolet;" class="fa-solid fa-lightbulb"></i><br>
                                    4. Reducir y o eliminar la deuda. <i style="color: brown;"
                                        class="fa-solid fa-lightbulb"></i><br>
                                    5. Intentar disminuir los pasivos a mediano y largo plazo. <i
                                        style="color: chartreuse;" class="fa-solid fa-lightbulb"></i><br>
                                    6. Ahorros. <i style="color: yellow;" class="fa-solid fa-lightbulb"></i><br>
                                    7. Invertir en diferentes cosas que generen utilidad y rentabilidad. <i
                                        style="color: violet;" class="fa-solid fa-lightbulb"></i><br>
                                </h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Inflación</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Inflacion.jpg"
                                alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>Inflación: ¿qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">La inflación es el aumento generalizado y sostenido en
                                    el precio de los bienes y
                                    servicios de
                                    una economía durante un período de tiempo. Se mide a través del Índice de Precios al
                                    Consumidor (IPC), un indicador que rastrea la variación en los precios de los bienes
                                    y
                                    servicios que conforman la canasta familiar. Cuando existe inflación, las personas
                                    pueden
                                    comprar menos cosas con la misma cantidad de dinero que antes. Lo anterior,
                                    significa que
                                    con la inflación, el dinero pierde poder adquisitivo. </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Qué son las finanzas personales?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Las finanzas personales son el conjunto de decisiones y
                                    acciones que una persona toma para manejar sus ingresos, gastos, inversiones y
                                    deudas de manera efectiva, con el objetivo de alcanzar sus metas financieras a largo
                                    plazo.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Por qué es importante tener un presupuesto?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Un presupuesto es una herramienta esencial para
                                    administrar tus finanzas personales. Te permite planificar tus gastos, controlar tus
                                    ingresos, identificar oportunidades de ahorro y asegurarte de que no estás gastando
                                    más de lo que ganas.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Cómo puedo ahorrar más dinero?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Hay varias formas de ahorrar dinero, como reducir tus
                                    gastos, buscar ofertas y promociones, evitar las compras impulsivas, comparar
                                    precios, establecer objetivos de ahorro y tener un plan para el futuro.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Cuál es la mejor forma de manejar mis deudas?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Para manejar tus deudas de manera efectiva, debes
                                    priorizarlas según su tasa de interés, hacer pagos más grandes en las deudas con
                                    tasas de interés más altas, buscar oportunidades de consolidar tus deudas y evitar
                                    tomar más deudas si no puedes pagarlas.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Qué son las inversiones y cómo puedo empezar a invertir mi dinero?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Las inversiones son una forma de hacer crecer tu dinero
                                    a largo plazo. Puedes empezar a invertir en fondos de inversión, acciones, bienes
                                    raíces, entre otros. Antes de invertir, debes educarte sobre el tema, entender los
                                    riesgos y buscar asesoría financiera si es necesario.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Cuál es la mejor forma de proteger mi dinero?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Para proteger tu dinero, debes diversificar tus
                                    inversiones, tener un fondo de emergencia, asegurarte de tener un buen seguro de
                                    salud y propiedad, y evitar las estafas financieras.<br><br>
                                </h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Plan de Inversión</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Desinflacion.jpg"
                                alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <!-- <details open class="py-4">
                                <summary>
                                    <h4>Desinflación: ¿qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">La desinflación es un fenómeno en el que el crecimiento
                                    o aumento generalizado en
                                    los precios
                                    de los bienes y servicios en una economía se reduce. La disminución de este
                                    indicador no
                                    significa un crecimiento cero o negativo de la inflación. Si esto sucede estaríamos
                                    hablando
                                    de deflación. </h5>
                            </details> -->
                            <details open class="py-4">
                                <summary>
                                    <h4>¡Define tus objetivos!</h4>
                                </summary>
                                <h5 style="text-align: justify;"> Antes de invertir, es importante tener claros tus
                                    objetivos financieros a corto y largo plazo. Esto te ayudará a seleccionar las
                                    opciones de inversión que mejor se adapten a tus necesidades. </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Crea un plan de inversión!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Una vez que sepas cuáles son tus objetivos, crea un
                                    plan de inversión que incluya el tipo de inversión que deseas hacer, el plazo y el
                                    monto que estás dispuesto a invertir.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Diversifica tus inversiones!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Es importante no poner todos los huevos en una sola
                                    canasta. Diversifica tu portafolio de inversión invirtiendo en diferentes clases de
                                    activos, como acciones, bonos y bienes raíces.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Investiga antes de invertir!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Antes de tomar cualquier decisión de inversión,
                                    investiga las opciones disponibles y asegúrate de entender los riesgos y beneficios
                                    de cada opción.
                                    <br><br>
                                    Mantén un enfoque a largo plazo: Las inversiones suelen ser más rentables a largo
                                    plazo. No intentes hacer grandes ganancias a corto plazo y ten paciencia con tus
                                    inversiones.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Controla tus emociones!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Las emociones pueden influir en las decisiones de
                                    inversión, lo que puede llevar a decisiones equivocadas. Controla tus emociones y
                                    toma decisiones de inversión basadas en hechos y datos.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Consulta a un asesor financiero!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Si no tienes experiencia en inversión o si estás
                                    buscando asesoramiento profesional, considera la posibilidad de consultar a un
                                    asesor financiero.
                                    <br><br>
                                    Recuerda que la inversión conlleva ciertos riesgos, por lo que debes ser consciente
                                    de los mismos y tener una estrategia sólida para minimizarlos.<br><br>
                                </h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Estanflación</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Estanflación.jpg"
                                alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>Estanflación: ¿qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">La estanflación es un término que se utiliza para
                                    describir una situación atípica,
                                    en la que
                                    una economía experimenta un estancamiento en el crecimiento, al mismo tiempo que un
                                    aumento
                                    generalizado en el precio de los bienes y servicios. Es decir, hay estancamiento del
                                    crecimiento económico e inflación. Como resultado, se presenta una disminución en la
                                    demanda
                                    y un aumento del desempleo. </h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasa de interés</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Tasa.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>Tasa de interés: ¿qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">La tasa de interés o el tipo de interés es el precio
                                    que tiene el dinero. Es decir,
                                    es el
                                    valor que se debe pagar por utilizar unos recursos durante un tiempo determinado.
                                    Por
                                    ejemplo, cuando una persona accede a un crédito, la tasa de interés es el cobro que
                                    realizan
                                    las entidades financieras por prestar ese dinero.
                                    <br><br>
                                    Si bien, cada entidad financiera puede establecer sus tasas de interés para sus
                                    productos,
                                    estas son fijadas a partir de la tasa de intervención de la política monetaria.
                                </h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasa de intervención de
                                la política monetaria</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/TasaMonetaria.webp"
                                alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>Tasa de intervención de la política monetaria</h4>
                                </summary>
                                <h5 style="text-align: justify;">La tasa de intervención, tasas de referencia o tasa de
                                    interés de la política
                                    monetaria es el
                                    porcentaje de dinero mínimo que cobran los bancos centrales de los países a las
                                    entidades
                                    financieras por prestarles dinero. En Colombia, el Banco de la República (Banrep) es
                                    el
                                    encargado de definir la tasa de intervención.
                                    <br><br>
                                    Ahora bien, las tasas de interés están
                                    determinadas por diferentes factores, como la oferta y la demanda de dinero, el
                                    estado de
                                    una economía o la política monetaria de un Gobierno.
                                </h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>