<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#Aprende-con-Innovacion">Aprende con Innovación</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#Conceptos">Conceptos Claves</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#Juego">Juego
                        Interactivo</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#Galeria">Galeria
                        de Video</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#Trivia">Juego
                        Trivia</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#Encuesta">Encuesta
                        rapida</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <div class="container text-center">
            <div class="row">
                <!-- <div class="col">
                    <img class="masthead-avatar mb-5" src="assets/images/Img1.jpeg" alt="..."
                        style="border-radius: 150px; box-shadow: rgb(44, 62, 80, 0.4) 0px 5px, rgba(44, 62, 80, 0.3) 0px 10px, rgba(44, 62, 80, 0.2) 0px 15px, rgba(44, 62, 80, 0.1) 0px 20px, rgba(44, 62, 80, 0.05) 0px 25px;" />
                </div> -->
                <div class="col">
                    <img class="masthead-avatar mb-5" src="assets/images/PigProfile.png" alt="..."
                        style="border-radius: 150px;" />
                </div>
                <!-- <div class="col">
                    <img class="masthead-avatar mb-5" src="assets/images/Img2.jpeg" alt="..."
                        style="border-radius: 150px; box-shadow: rgb(44, 62, 80, 0.4) 0px 5px, rgba(44, 62, 80, 0.3) 0px 10px, rgba(44, 62, 80, 0.2) 0px 15px, rgba(44, 62, 80, 0.1) 0px 20px, rgba(44, 62, 80, 0.05) 0px 25px;" />
                </div> -->
            </div>
        </div>
        <!-- <img class="masthead-avatar mb-5" src="assets/images/PigProfile.png" alt="..." /> -->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Aprende con Innovación</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h4 style="font-weight: 300; text-align: center;">Te ofrecemos un espacio de interacción para que puedas
            adquirir conocimientos de una manera divertida. Vas a explorar una serie de contenidos, metodologías y
            niveles que te iran guiando y enseñando a obtener aprendizajes en innovación y creatividad de una forma
            diferente.</h4><br>
        <h4 class="masthead-subheading font-weight-light mb-0" style="font-style: italic; font-weight: 100;">"La
            imaginación es el primer paso hacia la innovación."</h4>
        <div class="mt-4">
            <app-jumping-letters></app-jumping-letters>
        </div>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="Conceptos">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Conceptos Claves</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h4 class="text-center py-4" style="font-weight: 300;">¡Conocer estos términos económicos y el funcionamiento de
            la
            economía lo puede ayudar a
            tomar mejores decisiones de inversión!</h4>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div title="Innovación" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Picture1.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div title="Creatividad" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Picture2.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div title="Imaginación" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Picture3.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div title="Proceso Creativo" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Picture4.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div title="Trabajo en Equipo" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Picture5.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div title="Resolución de Problemas" class="portfolio-item mx-auto" data-bs-toggle="modal"
                    data-bs-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/images/Picture6.png" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="Juego">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Juego Interactivo</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <h4 class="text-center py-4" style="font-weight: 300;">AVENTURAS EN EL JUNGLA es un juego interactivo para
            aprender innovación, buscar que los niños se puedan sumergir en una aventura en la jungla para que adquieran
            nuevos conocimientos y mejoren su creatividad aprendiendo a manejar correctamente sus ideas y pensamientos.
            <br><br> ¡Te invito a Jugar y aprender interactivamente con este juego!
        </h4>
        <div class="row text-center py-4">
            <div class="col-md-6">
                <h4 style="font-weight: 300;"><i class="fa-solid fa-dice fa-beat-fade"></i>&nbsp;Lanza los Dados</h4>
                <h4 style="font-weight: 300;"><i class="fa-solid fa-book fa-beat-fade"></i>&nbsp;Lea las Instrucciones
                </h4>
            </div>
            <div class="col-md-6">
                <h4 style="font-weight: 300;"><i class="fa-solid fa-medal fa-beat-fade"></i>&nbsp;Rompe tu Record
                    Personal</h4>
                <h4 style="font-weight: 300;"><i class="fa-solid fa-user-group fa-beat-fade"></i>&nbsp;Invita a tus
                    Amigos
                </h4>
            </div>
        </div>
        <br>
        <div class="content">
            <h2><i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;¡Juega!&nbsp;<i
                    class="fa-solid fa-arrow-down fa-bounce"></i></h2>
            <h2><i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;¡Juega!&nbsp;<i
                    class="fa-solid fa-arrow-down fa-bounce"></i></h2>
        </div>
        <!-- About Section Button-->
        <div class="image-container">
            <a href="https://view.genial.ly/640bbff389fdcd00180246cf/interactive-content-genially-sin-titulo"
                target="_blank">
                <div class="text-center">
                    <img class="img-fluid shadow-2-strong img img-thumbnail" style="background: #2C3E50;"
                        src="./assets/images/JuegoInteractivo.png" alt="">
                </div>
            </a>
        </div>
    </div>

</section>

<!-- Gallery Section -->
<section class="page-section portfolio" id="Galeria">
    <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Galeria de Video</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h4 class="text-justify text-center py-4" style="font-weight: 300;">Bienvenido a nuestra Galería de Video, donde
            podrás explorar una colección cuidadosamente seleccionada de videos fascinantes. En esta sección,
            encontrarás una variedad de contenidos que abarcan clips de eventos recientes. Cada video ha sido elegido
            para ofrecerte valor y entretenimiento, cubriendo temas relevantes y de interés actual.</h4>
        <!-- Portfolio Grid Items -->
        <div class="row justify-content-center text-center py-4">
            <div class="features">
                <article>
                    <div class="image"><iframe width="560" height="315"
                            src="https://www.youtube.com/embed/3joQCCByJXo?si=ppjv9UuT30kM9YBO"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
                    <div class="inner">
                        <h4>Innovación Social para Niños</h4>
                        <p class="lead">Este cuento busca capturar la imaginación de los niños enseñándoles la
                            importancia de la Innovación, la creatividad y el trabajo en equipo de una manera
                            entretenida y dinámica a través de un cuento "El viaje de La Luciérnaga Lucy : Un destello
                            de Innovación- Parte I</p>
                    </div>
                </article>
                <!-- <article>
                    <div class="image"><iframe width="560" height="315" src="https://www.youtube.com/embed/3joQCCByJXo?si=YPJeY69ssyEHjVX6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
                    <div class="inner">
                        <h4>Terraformed a small moon</h4>
                        <p class="lead">Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac
                            faucibus
                            integer adipiscing ornare amet.</p>
                    </div>
                </article> -->
                <article>
                    <div class="image"><iframe width="560" height="315"
                            src="https://www.youtube.com/embed/DX3eiC6N0kE?si=ZTUvcLfk64ahWG3w"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
                    <div class="inner">
                        <h4>INNOVACIÓN PARA NIÑOS</h4>
                        <p class="lead">Espacio de formación en conocimientos de Innovación para niños aborda temas
                            como:
                            Habilidades Creativas,
                            Role Play o juego de roles,
                            Prototipado.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="Trivia">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Juego Trivia</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h4 class="justify-content-center text-center py-4" style="font-weight: 300;">La TRIVIA es una serie de
            preguntas
            que
            se plantean en el marco de
            un concurso o de un juego,
            cuyas respuestas deben ser escogidas entre diferentes opciones y lograr responder correctamente
            la mayoria. <br><br> Estas preguntas pueden ayudar a evaluar la comprensión de los conceptos de innovación y
            creatividad en los niños.
            <br><br> ¡Elige una respuesta y aprende interactivamente con este juego!
        </h4>
        <div class="content py-4">
            <h2><i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;¡Juega!&nbsp;<i
                    class="fa-solid fa-arrow-down fa-bounce"></i></h2>
            <h2><i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;¡Juega!&nbsp;<i
                    class="fa-solid fa-arrow-down fa-bounce"></i></h2>
        </div>
        <app-trivia></app-trivia>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="Encuesta">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Encuesta Rapida</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star fa-beat"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div class="container text-center py-4">
                    <h4 style="font-weight: 300;">Promovemos el conocimiento con innovación queremos conocer tu
                        percepción acerca de la página web interactiva. La encuesta te tomará unos pocos minutos.
                        <br><br> !TUS COMENTARIOS SON VALIOSOS PARA NOSOTROS!</h4>
                    <a class="btn btn-xl btn-outline-dark mt-4" href="https://forms.office.com/r/nHb1r4KtMy"
                        target="_blank"><i class="fa-solid fa-arrow-right fa-beat me-2"></i>Responder Encuesta!</a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Visitas a la web</h4>
                <h4><i class="fa-solid fa-face-smile fa-bounce"></i>&nbsp;¡{{visits}} Usuarios!&nbsp;<i
                        class="fa-solid fa-face-smile fa-bounce"></i></h4>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Síguenos también en</h4>
                <!--<a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                        class="fa-brands fa-facebook-f fa-beat"></i></a>-->
                <a class="btn btn-outline-light btn-social mx-1"
                    href="https://www.instagram.com/finanzy.09/?igshid=MXBxMXYzNnlmeThxeA%3D%3D&utm_source=qr"
                    target="_blank"><i class="fa-brands fa-instagram fa-beat"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/laurafloreza"
                    target="_blank"><i class="fa-brands fa-linkedin fa-beat"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/@lauraflorez6218"
                    target="_blank"><i class="fa-brands fa-youtube fa-beat"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Sobre el desarrollador</h4>
                <p class="lead mb-0">
                    Creador, diseñador, administrador y gestor de contenido:
                    <a href="https://www.linkedin.com/in/nicolaserazo/" target="_blank">Nicolas Erazo</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Aprende con Innovacion - 2023</small></div>
</div>
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Innovación
                            </h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Picture1.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>¿Qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Es un proceso mediante el cual todos los niños pueden crear o mejorar algún bien, producto o servicio que resuelva las necesidades y tengo un impacto en la sociedad.
                                </h5>
                            </details>
                            <!-- <details class="py-4">
                                <summary>
                                    <h4>¿Cómo alcanzar la libertad financiera en 7
                                        gestiones?</h4>
                                </summary>
                                <h5 style="text-align: justify;">
                                    Alcanzar la libertad financiera es posible.<br>
                                    <br>
                                    Siete pasos hacia la libertad financiera:<br>
                                    <br>

                                    1. Gestionar los ingresos vs ganancias. <i style="color: aqua;"
                                        class="fa-solid fa-lightbulb"></i><br>
                                    2. Manejar adecuadamente los gastos. <i style="color: blue;"
                                        class="fa-solid fa-lightbulb"></i><br>
                                    3. Crear una plan de emergencia donde se ahorre dinero. <i
                                        style="color: blueviolet;" class="fa-solid fa-lightbulb"></i><br>
                                    4. Reducir y o eliminar la deuda. <i style="color: brown;"
                                        class="fa-solid fa-lightbulb"></i><br>
                                    5. Intentar disminuir los pasivos a mediano y largo plazo. <i
                                        style="color: chartreuse;" class="fa-solid fa-lightbulb"></i><br>
                                    6. Ahorros. <i style="color: yellow;" class="fa-solid fa-lightbulb"></i><br>
                                    7. Invertir en diferentes cosas que generen utilidad y rentabilidad. <i
                                        style="color: violet;" class="fa-solid fa-lightbulb"></i><br>
                                </h5>
                            </details> -->
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Creatividad</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Picture2.jpg"
                                alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>¿Qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">es la forma libre de pensar y de expresarse a través de un proceso de experiencias que refleje el pensamiento de los niños y contribuya a mejorar algo.</h5>
                            </details>
                            <!-- <details class="py-4">
                                <summary>
                                    <h4>¿Qué son las finanzas personales?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Las finanzas personales son el conjunto de decisiones y
                                    acciones que una persona toma para manejar sus ingresos, gastos, inversiones y
                                    deudas de manera efectiva, con el objetivo de alcanzar sus metas financieras a largo
                                    plazo.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Por qué es importante tener un presupuesto?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Un presupuesto es una herramienta esencial para
                                    administrar tus finanzas personales. Te permite planificar tus gastos, controlar tus
                                    ingresos, identificar oportunidades de ahorro y asegurarte de que no estás gastando
                                    más de lo que ganas.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Cómo puedo ahorrar más dinero?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Hay varias formas de ahorrar dinero, como reducir tus
                                    gastos, buscar ofertas y promociones, evitar las compras impulsivas, comparar
                                    precios, establecer objetivos de ahorro y tener un plan para el futuro.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Cuál es la mejor forma de manejar mis deudas?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Para manejar tus deudas de manera efectiva, debes
                                    priorizarlas según su tasa de interés, hacer pagos más grandes en las deudas con
                                    tasas de interés más altas, buscar oportunidades de consolidar tus deudas y evitar
                                    tomar más deudas si no puedes pagarlas.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Qué son las inversiones y cómo puedo empezar a invertir mi dinero?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Las inversiones son una forma de hacer crecer tu dinero
                                    a largo plazo. Puedes empezar a invertir en fondos de inversión, acciones, bienes
                                    raíces, entre otros. Antes de invertir, debes educarte sobre el tema, entender los
                                    riesgos y buscar asesoría financiera si es necesario.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¿Cuál es la mejor forma de proteger mi dinero?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Para proteger tu dinero, debes diversificar tus
                                    inversiones, tener un fondo de emergencia, asegurarte de tener un buen seguro de
                                    salud y propiedad, y evitar las estafas financieras.<br><br>
                                </h5>
                            </details> -->
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Imaginación</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Picture3.png"
                                alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <!-- <details open class="py-4">
                                <summary>
                                    <h4>Desinflación: ¿qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">La desinflación es un fenómeno en el que el crecimiento
                                    o aumento generalizado en
                                    los precios
                                    de los bienes y servicios en una economía se reduce. La disminución de este
                                    indicador no
                                    significa un crecimiento cero o negativo de la inflación. Si esto sucede estaríamos
                                    hablando
                                    de deflación. </h5>
                            </details> -->
                            <details open class="py-4">
                                <summary>
                                    <h4>¿Qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Es la capacidad de pensar en algo que no exista y de allí se pueden crear maravillosas ideas plasmadas en historias, juegos, cuentos.</h5>
                            </details>
                            <!-- <details class="py-4">
                                <summary>
                                    <h4>¡Crea un plan de inversión!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Una vez que sepas cuáles son tus objetivos, crea un
                                    plan de inversión que incluya el tipo de inversión que deseas hacer, el plazo y el
                                    monto que estás dispuesto a invertir.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Diversifica tus inversiones!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Es importante no poner todos los huevos en una sola
                                    canasta. Diversifica tu portafolio de inversión invirtiendo en diferentes clases de
                                    activos, como acciones, bonos y bienes raíces.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Investiga antes de invertir!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Antes de tomar cualquier decisión de inversión,
                                    investiga las opciones disponibles y asegúrate de entender los riesgos y beneficios
                                    de cada opción.
                                    <br><br>
                                    Mantén un enfoque a largo plazo: Las inversiones suelen ser más rentables a largo
                                    plazo. No intentes hacer grandes ganancias a corto plazo y ten paciencia con tus
                                    inversiones.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Controla tus emociones!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Las emociones pueden influir en las decisiones de
                                    inversión, lo que puede llevar a decisiones equivocadas. Controla tus emociones y
                                    toma decisiones de inversión basadas en hechos y datos.<br><br>
                                </h5>
                            </details>
                            <details class="py-4">
                                <summary>
                                    <h4>¡Consulta a un asesor financiero!</h4>
                                </summary>
                                <h5 style="text-align: justify;">Si no tienes experiencia en inversión o si estás
                                    buscando asesoramiento profesional, considera la posibilidad de consultar a un
                                    asesor financiero.
                                    <br><br>
                                    Recuerda que la inversión conlleva ciertos riesgos, por lo que debes ser consciente
                                    de los mismos y tener una estrategia sólida para minimizarlos.<br><br>
                                </h5>
                            </details> -->
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Proceso Creativo</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Picture4.png"
                                alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>¿Qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Es el conjunto de herramientas, mecanismos, pensamientos que interactúan entre si y permiten que los niños pienses de una manera diferente para lograr encontrar soluciones creativas.</h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Trabajo en Equipo</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Picture5.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>¿Qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Es el trabajo colaborativo entre todos los niños o actores involucrados, en ese espacio se comparten ideas y existe un apoyo mutuo para cumplir una meta o propósito.
                                </h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Resolución de Problemas</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid img-shadow rounded mb-5" src="assets/images/Picture6.png"
                                alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <details open class="py-4">
                                <summary>
                                    <h4>¿Qué es?</h4>
                                </summary>
                                <h5 style="text-align: justify;">Es buscar una salida o alternativa para resolver diferentes situaciones que se presenten durante un proceso creativo.
                                </h5>
                            </details>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>