* {
    transition: all 0.3s;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 120%;
}

.contenedor {
    width: 62vw;
    padding: 10px;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #1abc9c, #3ecac9, #78d5e8, #afdff9, #dbeafe, #dbeafe, #dbeafe, #dbeafe, #afdff9, #78d5e8, #3ecac9, #1abc9c);
    border: 2px solid #ffffff;
    border-radius: 40px;
}

.contenedor:hover {
    box-shadow: 5px 5px 15px #ffffff;
}

.encabezado {
    position: relative;
    background: #1ABC9C;
    min-width: 200px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
}

.categoria {
    opacity: 0.6;
    text-align: left;
    font-size: larger;
}

.pregunta {
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    color:#000000;
}

.imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
}

.btn {
    font-size: larger;
    font-weight: bold;
    background: #1ABC9C;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    color: #000000;
    font-size: x-large;
}

.numero {
    position: absolute;
    opacity: 0.3;
    top: 10px;
    right: 10px;
}

.puntaje {
    padding: 10px;
    color: white;
}