* {
    transition: all 0.3s;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 120%;
}

.contenedor {
    width: 62vw;
    padding: 10px;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #27b2df, #00a2e2, #0090e3, #007ce1, #0066d9, #145ad8, #2a4cd6, #3d3bd1, #3535da, #2b2de2, #1f24eb, #0917f3);
    border: 2px solid #0917F3;
    border-radius: 40px;
}

.encabezado {
    position: relative;
    background: white;
    min-width: 200px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
}

.categoria {
    opacity: 0.6;
    text-align: left;
}

.pregunta {
    padding: 10px;
}

.imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
}

.btn {
    background: white;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.numero {
    position: absolute;
    opacity: 0.3;
    top: 10px;
    right: 10px;
}

.puntaje {
    padding: 10px;
    color: white;
}

@media screen and (max-width: 736px) {

    /* Basic */

    .contenedor {
        width: 85vw;
    }

    .encabezado {
        width: 75vw;
    }

    .btn{
        width: 70vw;
    }

}

